<!doctype html>
<html>

<head>
  <title>{{ pagetitle }}</title>
  <link rel="stylesheet" href="{{ static_url('pinnwand.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ static_url('goeshard.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ static_url('hacks.css') }}" type="text/css">
  
  <link rel="shortcut icon" href="/favicon.png">
  <script type="text/javascript" src="{{ static_url('pinnwand.js') }}"></script>
</head>

<body>
  <div class=app id=app>
    <div class=app__header>
      <header class=header>
        <div class=header__inner><a class=header__logo href=//code.goeshard.org />&nbsp; code.goesHard.org</a>
          <div class=header__board-selector>

          </div><span class=header__spacer></span>
          <div class=auth-menu style=margin-right:10px><span class="auth-menu__button header__catalog-link"
              style=font-size:90%>    </span>

          </div>
        </div>
      </header>
      {% block body %}{% end %}

      <div hidden class="confirmation-popover">
        <h2>Are you sure you'd like to remove this file?</h2>
        <div class="action-buttons">
          <button class="confirm">Confirm</button>
          <button class="cancel">Cancel</button>
        </div>
      </div>
    </div>
</body>

</html>